<footer>
  <div class="container">
    <div class="row">
      {% if informations %}
      <div class="col-sm-3">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p>{{ powered }}</p>
  </div>

              <style type="text/css">
                #popup_wrapper{
                  position: fixed;
                  top: 0; bottom: 0; left: 0; right: 0;
                  z-index: 99999;

                  width: 100vw;
                  height: 100vh;

                  background-color: rgba(0, 0, 0, .75);

                  visibility: hidden;
                  opacity: 0;

                  display: flex;
                  justify-content: center;
                  align-items: center;

                  transition: opacity .5s;
                }

                #popup_image{
                  max-height: 80vh;
                  max-width: 90vw;

                  border: 5px solid #fff;

                  box-shadow: 10px 10px 20px #000;

                  border-radius: 2px;
                }

                #popup_image_and_btns{
                  position: relative;
                }

                #popup_btns_wrapper{
                  position: absolute;
                  bottom: 0; left: 0; right: 0;
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              </style>

              <div id="popup_wrapper">
                  <div id="popup_image_and_btns">
                    <img src="" id="popup_image">
                    <div id="popup_btns_wrapper"></div>
                  </div>
              </div>
            
</footer>

              <script type="text/javascript">
                
                window.onload = function(){
                  const popup = JSON.parse('{{ popup }}')

                  if(popup.enabled){

                    if(popup.show_primary_btn){
                      create_button(popup.interval, popup.secondary_btn, 'secondary')
                    }

                    if(popup.show_primary_btn){
                      create_button(popup.interval, popup.primary_btn, 'primary')
                    }

                    if(!getCookie('popup_shown') || getCookie('popup_shown') === 'false'){
                      show_popup(popup)
                    }
                  }
                }

                function show_popup(popup) {
                  document.getElementById('popup_image').src = `${document.getElementsByTagName('base')[0].href}/image/${popup.image}`

                  document.getElementById('popup_wrapper').style.visibility = 'visible'
                  document.getElementById('popup_wrapper').style.opacity = '1'

                  document.body.style.overflow = 'hidden'
                }

                function create_button(interval, {bg, color, text, width, height, border_radius, font_size, redirect}, type) {
                  const c_button = type === 'primary' ? document.createElement('button') : document.createElement('a')

                  c_button.style.cssText = `
                    background-color: ${bg};
                    color: ${color} !important;

                    text-decoration: none !important;

                    width: ${width}px;
                    height: ${height}px;

                    border: none;
                    border-radius: ${border_radius}px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    text-align: center;
                    font-size: ${font_size}px;

                    margin: 2rem 1rem;
                  `

                  c_button.innerText = text

                  if(type === 'primary'){
                    c_button.addEventListener('click', function(){
                      release_site(interval)
                    }, true)
                  }else{
                    if(redirect){
                      c_button.href = redirect
                      c_button.setAttribute('target', '_blank')
                    }else{
                      c_button.href = document.getElementsByTagName('base')[0].href
                    }
                  }

                  document.getElementById('popup_btns_wrapper').appendChild(c_button)
                }

                function release_site(interval) {
                  document.getElementById('popup_image').src = ''

                  document.getElementById('popup_wrapper').style.opacity = '0'
                  setTimeout(function(){
                    document.getElementById('popup_wrapper').style.visibility = 'hidden'
                  },500)

                  document.body.style.overflow = 'auto'

                  setCookie('popup_shown', 'true', interval)
                }

                function setCookie(cname, cvalue, minutes) {
                  var d = new Date();
                  d.setTime(d.getTime() + (minutes*60*1000));
                  var expires = "expires="+ d.toUTCString();
                  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
                }

                function getCookie(cname) {
                  var name = cname + "=";
                  var decodedCookie = decodeURIComponent(document.cookie);
                  var ca = decodedCookie.split(';');
                  for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                      c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                      return c.substring(name.length, c.length);
                    }
                  }
                  return "";
                }

              </script>
            
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body>
</html>